@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
      scroll-behavior: smooth;
}

:root {
  --main-color: #040405;
  --detail-color: #FF3A5E;
  --detail-color2: #06d2da;
}

/* keyframes */
@keyframes move {
  0% {
    top: -20px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -20px;
  }
}

@keyframes animate {
  and {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bordas {
  0% {
    border-top: solid 5px #06d2da;
    transform: rotate(90deg);
  }

  25% {
    border-right: 5px solid #06d2da;
    transform: rotate(180deg)
  }

  50% {
    border-bottom: 5px solid #06d2da;
    transform: rotate(240deg)
  }

  75% {
    border-left: 5px solid #06d2da;
    transform: rotate(360deg)
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes pisca {
  from {
    border-right-color: white
  }

  to {
    border-right-color: transparent
  }
}


/*  keyframes */
header {
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* position: fixed; */
}

/* .logo img {
  width: 84px;
  display: block;
  margin: 0 auto;
} */

nav a {
  font-size: 1.5rem;
  padding: 5px;
  border-bottom: solid 1px #06d3da00;
  color: lightgray;
}

nav a {
  position: relative;
  display: block;
  padding: .5rem;
}

nav {
  display: flex;
  gap: .5rem;
}

nav a::after {
  margin-top: 20px;
  transition: 0.5s ease-in-out;
  ;
  content: " ";
  width: 0%;
  height: 4px;
  background: linear-gradient(270deg,var(--detail-color) 0%, #17161d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

nav a:hover::after {
  width: 100%;
}

.flex{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
a.btn-inicio{
  margin-top: 40px;
  padding: 10%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: solid 2px gray;
  transition: 1.2s;
}
a.btn-inicio:hover{
  border: solid 2px var(--detail-color);
  scale: 1.2;
}
img.btn-inicio{
  width: 50px;
  height: 50px;
}
.logo {
  margin-top: 30px;
  color: lightgray;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  animation: move linear 3s infinite;
}

.mobile {
  display: none;
}

hr {
  margin-top: 10px;
  width: 50px;
}

body {
  background: var(--main-color);
  font-family: 'Righteous', cursive;
  scroll-behavior: smooth;
}

.inicio.quemsou.conhecimentos.projetos {
  visibility: hidden;
}
h3{
  /* z-index: 5000000; */
  /* color: var(--detail-color2); */
}
.neon {
  padding: 2% ;

  position: relative;
  height: auto;
  background-color: #040405;
  border-radius: 15px;
  overflow: hidden;
  margin: 50px auto;
  flex-wrap: wrap;
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.neon::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 140%;
  background: linear-gradient(var(--detail-color),var(--detail-color2));
  animation: animate 2s linear infinite;
}

.neon::after {
  content: ' ';
  position: absolute;
  inset: 2px;
  background: black;
  border-radius: 15px;
}

.inicial {
  display: flex;
}

.imagem-inicio {
  margin: 5px ;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
 
  width: 45vw;
  height: auto;
  z-index: 10;
}

.texto-inicio {
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-family: 'Sarala', sans-serif;
  /* min-width: 500px; */
  color: lightgray;
  width: 45vw;
  z-index: 10;


}




.line {
  display: table-caption;
  border-right: 2px solid lightgray;
  color: lightgray;
  font-size: 1.5em;
  margin: 0 auto;
  white-space: nowrap;
  /* quer dizer pra ele n quebrar as linhas */
  overflow: hidden;
}

.paragrafo {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  
}
.titulo{
  color: var(--detail-color);
  font-size: 2em;
  margin-bottom: 20px;
}

.type {
  animation: pisca 1s steps(40) normal infinite, typing 2s steps(40) normal both;
  /* steps quebram a animação quadro a quadro */
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--detail-color);
  
}

.type1 {
  animation: pisca 1s steps(40) normal infinite, typing 2s steps(40) 2.0s normal both;
  margin-bottom: 10px;
  font-size: 2rem;
}

.type2 {
  animation: pisca 1s steps(40) normal infinite, typing 2s steps(40) 4.0s normal both;
  font-size: 1.2rem;
}

.fotodev {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  transition: 1.2s;
}
.fotodev:hover{
  scale: 1.1;
}
span{
  color: var(--detail-color);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h1 {
  color: white;
  z-index: 5000000000000000;
}

.cards {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  border-radius: 12px;
  width: 80%;
  align-items: center;
  height: auto;
  transition: 1.6s;
  border: solid transparent 2px;
  gap: 1rem;
}

.skill{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  width: 20%;
  height: auto;
}
.icone {
  width: 100%;
  transition: 1.2s;
}
.icone:hover{
  scale: 1.3;
}
.textocards {
  color: lightgray;
  width: 50%;
  height: 100%;
  min-height: 200px;
  text-align: center;
  border: solid 2px transparent;
}
.cards:hover{
  border: solid 2px var(--detail-color);
  color: var(--detail-color);
  scale: 1.2;
}
.cards:hover p,.cards:hover h2{
  color: #FF3A5E;
}

.primeironeon{
  margin-top: 50px;
}
p,h2{
  transition: 1.2s;
}

.conhecimentos {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.projetos{
  padding: 5%;
  margin-top: 60px;
  color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.projetos1{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 40%;
  display: flex;
  /* background: #09a89b; */
}

.projetoss{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
  min-width: 340px;
  min-height: 290px;
  width: 30%;
  height: 100%;
  padding: 2%;
  background: #040405;
  border: solid 2px var(--detail-color);
  transition: 1.2s;

}
.projetoss p{
  margin: 10px;
}
.projetoss:hover {
  scale: 1.1;
}

footer{
  /* height: 30vh; */
  color: azure;
  /* display: block; */
  /* margin: 0 auto */
}
div.rodape{
  margin-top: 50px;
  background-color: #06d2da;
  text-align: center;
}

/* queries */
@media (max-width:850px) {
  .vazia{
    height: 30vh;
  }
  .texto-inicio{
    width: 100%;
  }
  .imagem-inicio{
    margin-top: 13px;
    width: 100%;
  }
 

  .mobile {
    display: block;
    border: transparent;
    background-color: transparent;
  }


  nav {
   
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    right: 0px;
    flex-direction: column;
    align-items: center;
    transition: 2s;
    height: 0;
    overflow-y: hidden;
    top: 180;
  }

  nav.active {
    top: 180;
    visibility: visible;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: red;
    background: #040405;
    /* overflow-y: auto; */
    z-index: 50;
  }

  nav a {
    padding: 1rem 0;
    border-bottom: 2px solid;
  }




  header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    z-index: 8000;
  }

  button.mobile hr {
    transition: 2s;
    background: linear-gradient(270deg, #09a89b 0%, #17161d 100%);
    padding: 5%;
    border-radius: 5px;
  }

  button.mobile.active hr.hr1 {
    transform: rotate(405deg);
    position: relative;
    bottom: -18px;
  }

  button.mobile.active hr.hr2 {
    background: transparent;
    border: transparent;
  }

  button.mobile.active hr.hr3 {
    transform: rotate(-405deg);
    position: relative;
    top: -15px;
  }
  button.mobile{
    position: fixed;
    right: 15px;
    z-index: 50000000000;
  }
  .logo{
    top: 200;
    position: fixed;
    z-index: 50000;
  }
}

.pag {
  height: 100vh;
}