@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
 */
:root{
  --main-color:#040405
  --detail-color:#FF3A5E
  --detail-color2:#06d2da
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@keyframes move{
  0%{top: -20px;}
  50%{top: 10px;}
  100%{top: -20px;}
}
@keyframes animate{
  and{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes bordas{
  0%{border-top: solid 5px #06d2da ;transform: rotate(90deg);}
  25%{border-right: 5px solid #06d2da;transform: rotate(180deg)}
  50%{border-bottom: 5px solid #06d2da;transform: rotate(240deg)}
  75%{border-left: 5px solid #06d2da;transform: rotate(360deg)}
}
@keyframes typing {
  from{width: 0;}
  to{width: 100%;}
}
@keyframes pisca {
  from { border-right-color:white}
  to {border-right-color: transparent}
}
body{
  background-color: #040405;
  color: lightgrey ;
  /* background-color: var(--detail-color); */
  scroll-behavior: smooth;
}
header{
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
a{
  font-size: 1.5rem;
  padding: 5px;
  border-bottom: solid 1px #06d3da00;
  color: lightgray;
 
}
nav a {
position: relative;
}

nav{
  display: flex;
  gap: 32px;
}
nav a::after{
  margin-top: 20px;
  transition: 0.5s ease-in-out;;
  content: " ";
  width: 0%;
  height: 2px;
  background: linear-gradient(270deg, #09a89b 0%, #17161d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
nav a:hover::after{
  width: 100%;
}
img{
  width: 84px;
  display: block;
  margin: 0 auto;
}
.logo{
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 5;
  animation: move linear 3s infinite ;
}
.inicio.quemsou.conhecimentos,.projetos{
  visibility: hidden;
}
.inicio{
  position: relative;
  margin: 20px;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040405;
  border-radius: 15px;
  overflow: hidden;
}
.inicio::before{
  content: " ";
  position: absolute;
  width: 350px;
  height: 140%;
  background:linear-gradient(#15c0b7,red) ;
  animation: animate 2s  linear infinite;
}
.inicio::after{
  content: ' ';
  position: absolute;
  inset: 2px;
  background: #333;
  border-radius: 15px;
}
.inicio h2{
  visibility: visible;
  opacity: 1;
  position: relative;
  color: white;
  font-size: 8em;
  
}
main{
  border-top: solid 0.1px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: auto;
}
.quemsou{
min-width: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
gap: 5px;
}
.texto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  gap: 5px;
}
.linha1{
  margin: 5px;
  display: inline;
  /* width: 220px; */
  /* width: 50%; */
}.linha2{
  display: inline;
  margin: 5px;
  /* width:330px; */
  /* max-width: 75%; */
}.linha3{
  display: inline;
  margin: 5px;
  width:auto;
  
}
.line{
  padding: 5px;
  display: inline;
  border-right: 2px solid white;
  color: lightgray;
  font-size: 3em;
  margin: 0 auto;
  white-space: nowrap;
  /* quer dizer pra ele n quebrar as linhas */
  overflow: hidden;
  
}
.type {
  animation: pisca 800ms steps(40) normal infinite  ,typing 4s steps(40) normal both ;
  /* steps quebram a animação quadro a quadro */
}.type1{
  animation: pisca 800ms steps(40) normal infinite  ,typing 4s steps(40) 1.9s normal both ;
}
.type2{
  animation: pisca 800ms steps(40) normal infinite  ,typing 4s steps(40) 2.5s normal both ;
}


.projetos{
  min-width: 100vw;
}
.conhecimentos{
  min-width: 100vw;
}

