@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --main-color:#040405;
  --detail-color:#FF3A5E;
  --detail-color2:#06d2da;
}
/* keyframes */
@keyframes move{
  0%{top: -20px;}
  50%{top: 10px;}
  100%{top: -20px;}
}
@keyframes animate{
  and{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes bordas{
  0%{border-top: solid 5px #06d2da ;transform: rotate(90deg);}
  25%{border-right: 5px solid #06d2da;transform: rotate(180deg)}
  50%{border-bottom: 5px solid #06d2da;transform: rotate(240deg)}
  75%{border-left: 5px solid #06d2da;transform: rotate(360deg)}
}
@keyframes typing {
  from{width: 0;}
  to{width: 100%;}
}
@keyframes pisca {
  from { border-right-color:white}
  to {border-right-color: transparent}
}
/*  keyframes */
header{
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* position: fixed; */
}
.logo img{
  width: 84px;
  display: block;
  margin: 0 auto;
}
a{
  font-size: 1.5rem;
  padding: 5px;
  border-bottom: solid 1px #06d3da00;
  color: lightgray;
}
nav a {
  position: relative;
  display: block;
  padding: .5rem;
} 

nav{
  display: flex;
  gap: .5rem;
}
nav a::after{
  margin-top: 20px;
  transition: 0.5s ease-in-out;;
  content: " ";
  width: 0%;
  height: 4px;
  background: linear-gradient(270deg, #09a89b 0%, #17161d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
nav a:hover::after{
  width: 100%;
}
.logo{
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 5;
  animation: move linear 3s infinite ;
}
.mobile{
  display: none;
}

hr{
  margin-top: 10px;
  width: 50px;
}
body{
  background: var(--main-color);
  scroll-behavior: smooth;
}
.inicio.quemsou.conhecimentos,.projetos{
  visibility: hidden;
}
.neon{
  position: relative;
  height: 90%;
  background-color: #040405;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.neon::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 140%;
  background:linear-gradient(#15c0b7,rgb(231, 213, 53),rgb(161, 20, 44)) ;
  animation: animate 2s  linear infinite;
}
.neon::after{
  content: ' ';
  position: absolute;
  inset: 2px;
  background: black;
  border-radius: 15px;
}
.inicial{
  display: flex;
}
.imagem-inicio{
  /* background-color: red; */
  /* min-width: 700px; */
  padding: 5px;
  min-width: 500px;
  width: 45vw;
  height: auto;
  z-index: 10;
}
.texto-inicio{
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
  align-items: center;
  font-size: 18px;
  font-family: 'Sarala', sans-serif;
  /* background-color: red; */
  min-width: 500px;
  color: white;
  width: 45vw;
  z-index: 10;
  

}
.quemsoueu{
 
}
.linha1{
  margin: 5px;
}.linha2{
  margin: 5px;
}.linha3{
  display: inline;
  margin: 5px;
  width:auto;
}
.line{
  display: table-caption;
  border-right: 2px solid white;
  color: lightgray;
  font-size: 1.5em;
  margin: 0 auto;
  white-space: nowrap;
  /* quer dizer pra ele n quebrar as linhas */
  overflow: hidden;
}
.type {
  animation: pisca 1s steps(40) normal infinite  ,typing 2s steps(40) normal  both ;
  /* steps quebram a animação quadro a quadro */
}.type1{
  animation: pisca 1s steps(40) normal infinite  ,typing 2s steps(40) 2.0s normal both ;
}
.type2{
  animation: pisca 1s steps(40) normal infinite  ,typing 2s steps(40) 4.0s normal both ;
}
.fotodev{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.conhecimentos{
background-color: red;
height: 40vh;
display: flex;
justify-content: space-around;
}
.html{
  width: 20%;
  background: rebeccapurple;
}
.css{
  width: 20%;
  background: rebeccapurple;
}
.js{
  width: 20%;
  background: rebeccapurple;
}
.git{
  width: 20%;
  background: rebeccapurple;
}
.icone{
width: 100%;
}
/* queries */
@media (max-width:850px){


  .logo{
    margin-top: 5px;
    border: solid 1px ;
    box-shadow:  2px 1px gray ;
    padding: 1%;
  }
  .mobile{
    display: block;
    border: transparent;
    background-color: transparent;
  }
  nav{
    /* display: none; */
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 180px;
    right: 0px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    transition: 2s;
    height: 0;
    overflow-y: hidden;
    
  }
  nav.active {
    visibility: visible;
    display: flex;
    height: 100vh;
    /* background-color: red; */
    /* overflow-y: auto; */
  }
 
  nav a {
    padding: 1rem 0 ;
   border-bottom: 2px solid ;
  }


  
  
 

  button.mobile hr {
    transition: 2s;
    background: linear-gradient(270deg, #09a89b 0%, #17161d 100%);
    padding: 5%;
    border-radius: 5px;
  }
  button.mobile.active hr.hr1 {
    transform: rotate(405deg);
    position: relative;
    bottom: -18px;
  }
  button.mobile.active hr.hr2 {
    background: transparent;
    border: transparent;
  }
  button.mobile.active hr.hr3 {
    transform: rotate(-405deg);
    position: relative;
    top: -15px;
  }

}
.pag{
  height: 100vh;
}