@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
:root{
  --main-color:#040405
  --detail-color:#FF3A5E
  --detail-color2:#06d2da
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: var(--main-color);
}
header{
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
/* 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
 */
a{
  color: #ffffff;
  background: linear-gradient(270deg, #ff3a5e 0%, #17161d 100%);

}
nav{
  display: flex;
  gap: 32px;
}